@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  --font-family-cursive: "Amatic SC", cursive;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(209, 34%, 30%);
  /* grey used for paragraphs */
  --clr-grey-3: hsl(210, 31%, 80%);
  --clr-primary-1: #b7f29b;
  --clr-primary-2: #a8d991;
  --clr-primary-3: #95bf8a;
  --clr-primary-4: #718c70;
  --clr-primary-5: #404759;
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 3px;
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Condensed", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background: whitesmoke;
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid var(--clr-grey-2);
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.15rem;
}

h3 {
  font-size: 1rem;
}

p {
  color: var(--clr-grey-2);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: orangered;
  border-radius: 10px;
}

.show-sidebar {
  transform: translateX(0%);
  transition: var(--transition);
}

.hide-sidebar {
  transform: translateX(150%);
  transition: var(--transition);
}

.active {
  color: rgb(255, 30, 30);
}

.custom-border {
  box-shadow: 0 0.75rem 0.75rem #e5e4e4;
  padding: 1rem;
}

.player-history-grid {
  display: grid;
  justify-items: center;
  overflow: hidden;
}

.ticket {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
}

@media screen and (min-width: 800px) {
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

  .player-history-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    justify-items: center;
    overflow: hidden;
  }

  .ticket {
    grid-template-columns: repeat(10, 1fr);
  }
}
